<?xml version="1.0" encoding="utf-8" ?>
<uexplugins>
    <plugin name="uexTabBarWithPopMenu">
        <method name="open"></method>
        <method name="close"></method>
        <method name="setItemChecked"></method>
        <method name="setBadage"></method>
        <method name="removeBadage"></method>
    </plugin>
</uexplugins>
